{% extends 'registration/base.html' %}

{% block title %}Admin - Approva Utente{% endblock %}

{% block nav %}
  <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
  <a href="{% url 'server'%}" class="breadcrumb hide-on-med-and-down">Admin</a>
  <a href="{% url 'docapprove'%}" class="breadcrumb hide-on-med-and-down">Approva Documento</a>
{% endblock %}

{% block content %}

{% if not empty %}
  <div class="row">
    <div class="col l4 offset-l4 m8 offset-m2 s12">
      <div class="card">
        <ul class="collection">
        {% for i in messages %}
          <li class="collection-item">{{ i }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col l4 offset-l4 m8 offset-m2 s12">
    <div class="card">
      <form id="form" action="{% url 'docapprove'%}" method="post">
        {% csrf_token %}
        <div class="card-content">
          <p>Inserire un codice per riga</p>
          <textarea name="codes" class="materialize-textarea"></textarea>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn red lighten-1" href="#" onclick="document.getElementById('form').submit()">Invia</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}