{% extends 'registration/base_custom.html' %}

{% block title %}Admin - Tipo Documenti{% endblock %}

{% block nav %}
  <nav>
    <div class="nav-wrapper red lighten-1">
      <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
      <a href="{% url 'server'%}" class="breadcrumb hide-on-med-and-down">Admin</a>
      <a href="{% url 'doctype' %}" class="breadcrumb hide-on-med-and-down">Tipo Doc</a>
      <ul class="right">
          {% if user.is_staff %}
            <li><a onclick="document.getElementById('selection').submit()">Elimina selezionati</a></li>
            <li><a href="{% url 'server' %}">Pannello Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'personal' %}">{{ user.username }}</a></li>
          {% endif %}
          {% if user.username != "" %}
            <li>
            <a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i></a>
            </li>
          {% else %}
            <li><a href="{% url 'signup' %}">Registrazione</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<form id="selection" action="{% url 'doctype' %}" method="post">
{% csrf_token %}
<ul class="collapsible">
    {% for doctype in docs %}
        <li>
        <div class="collapsible-header">
            <label>
              <input name={{doctype.id}} type="checkbox" class="filled-in"/>
              <span></span>
            </label>
            {% if doctype.enabled %}
                <i class="material-icons">visibility_on</i>
            {% else %}
                <i class="material-icons">visibility_off</i>
            {% endif %}
            {{doctype.name}}
        </div>
        <div class="collapsible-body"><span>
        {% for key in keys %}
          {{key}}<br>
        {% endfor %}
        </span></div>
        </li>
    {% endfor %}
</ul>
</form>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red lightend-1" href="{% url 'docedit'%}">
    <i class="large material-icons">add</i>
  </a>
</div>
{% endblock %}

{%block script%}
$(document).ready(function(){
    $('.collapsible').collapsible();
});
{% endblock %}