{% extends 'registration/base_custom.html' %}

{% block title %}Admin - Documenti{% endblock %}

{% block nav %}
  <nav>
    <div class="nav-wrapper red lighten-1">
      <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
      <a href="{% url 'server'%}" class="breadcrumb hide-on-med-and-down">Admin</a>
      <a href="{% url 'doclist' %}" class="breadcrumb hide-on-med-and-down">Documenti</a>
      <ul class="right">
          {% if user.is_staff %}
            <li><a onclick="send('archive')">Archivia selezionati</a></li>
            <li><a onclick="send('approve')">Approva selezionati</a></li>
            <li><a onclick="send('delete')">Elimina selezionati</a></li>
            <li><a href="{% url 'server' %}">Pannello Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'personal' %}">{{ user.username }}</a></li>
          {% endif %}
          {% if user.username != "" %}
            <li>
            <a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i></a>
            </li>
          {% else %}
            <li><a href="{% url 'signup' %}">Registrazione</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<form id="selection" action="{% url 'doclist' %}" method="post">
{% csrf_token %}
<input type="hidden" name="action" id="action">
<ul class="collapsible">
    {% for doc in docs %}
        <li>
        <div class="collapsible-header">
            <label>
              <input name={{doc.0.id}} type="checkbox" class="filled-in"/>
              <span></span>
            </label>
            {% if doc.0.status == "wait" %}
                <i class="material-icons">timelapse</i>
            {% elif doc.0.status == "ok" %}
                <i class="material-icons">check</i>
            {% elif doc.0.status == "archive" %}
                <i class="material-icons">archive</i>
            {% endif %}
            {{doc.0.document_type.name}}
            <span class="badge" data-badge-caption="">{{doc.0.user.username}}</span>
        </div>
        <div class="collapsible-body"><span>
          {{doc.0.code}} <br>
          {{doc.0.compilation_date}}<br>
          <ul class="collapsible">
          {% if doc.0.document_type.personal_data %}
            <li>
              <div class="collapsible-header">
                <i class="material-icons">person</i>Dati personali
              </div>
              <div class="collapsible-body"><span>
                <table class="striped">
                <tbody>
                {% for field in doc.2 %}
                  <tr>
                  <td>{{field}}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
              </span></div>
            </li>
          {% endif %}
          {% if doc.0.document_type.medical_data %}
            <li>
              <div class="collapsible-header">
                <i class="material-icons">healing</i>Dati medici
              </div>
              <div class="collapsible-body"><span>
                <table class="striped">
                <tbody>
                {% for field in doc.3 %}
                  <tr>
                  <td>{{field}}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
              </span></div>
            </li>
          {% endif %}
          {% if doc.0.document_type.custom_data %}
            <li>
              <div class="collapsible-header">
                <i class="material-icons">add_circle_outline</i>Dati aggiuntivi
              </div>
              <div class="collapsible-body"><span>
                <table class="striped">
                <tbody>
                {% for key in doc.1 %}
                  <tr>
                  <td>{{key.key}}</td>
                  <td>{{key.value}}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
              </span></div>
            </li>
          {% endif %}
          </ul>
        </span></div>
        </li>
    {% endfor %}
</ul>
</form>
{% endblock %}

{%block script%}
$(document).ready(function(){
    $('.collapsible').collapsible();
});
function send(id) {
  var form = document.getElementById('selection')
  var action = document.getElementById('action')
  action.setAttribute('value', id);
  form.submit()
}
{% endblock %}