{% extends 'registration/base_admin.html' %}

{% block title %}Admin - Modifica Tipo{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'server'%}" class="breadcrumb hide-on-med-and-down">Admin</a>
    <a href="{% url 'doctype' %}" class="breadcrumb hide-on-med-and-down">Tipo Doc</a>
    <a class="breadcrumb hide-on-med-and-down">Modifica Tipo</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col l8 offset-l2 s12">
    <div class="card-panel">
      <div class="row">
        <form id="form" action="{% url 'docedit'%}" method="post" class="col s12">
          <input type="hidden" name="doc" value="{{doc.id}}">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input disabled name="name" value="{{doc.name}}" id="name" type="text">
              <label for="name">Nome</label>
            </div>
          </div>
          <div class="row">
            <div class="switch col l3 s12">
              <label>
                Disabilitato
                <input name="enabled" type="checkbox" {{enabled_check}}>
                <span class="lever"></span>
                Abilitato
              </label>
            </div>
            <div class="switch col l3 s12">
              <label>
                Publico
                <input name="group_private" type="checkbox" {{private_check}}>
                <span class="lever"></span>
                Privato
              </label>
            </div>
            <div class="switch col l3 s12">
              <label>
                Richiede firma
              </label>
              <label>
                No
                <input name="sign" type="checkbox" {{sign_check}}>
                <span class="lever"></span>
                Si
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l4 s12">
              <label>
                <input name="custom_message" type="checkbox" class="filled-in" {{custom_message_check}}/>
                <span style="color:black">Messaggio personalizzato</span>
              </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="custom_message_text" id="message" class="materialize-textarea">{{doc.custom_message_text}}</textarea>
              <label for="message">Messaggio personalizzato</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="custom_group" id="group" class="materialize-textarea">{{group}}</textarea>
              <label for="group">Gruppo personalizzato</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col l4 s12">
              <label>
                <input name="staff_only" type="checkbox" class="filled-in" {{staff_only_check}}/>
                <span style="color:black">Visibile solo ai capi</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea name="max_instances" id="max_instances" class="materialize-textarea">{{doc.max_instances}}</textarea>
              <label for="max_instances">Numero massimo di partecipanti</label>
            </div>
          </div>
          <div class="fixed-action-btn">
            <a class="btn-floating btn-large {{color}}" onclick="document.getElementById('form').submit()">
              <i class="large material-icons">save</i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script%}
$(document).ready(function(){
  {% if error %}
    M.toast({html: '{{ error_text}}', classes: 'orange'})
  {% endif %}
});
{% endblock %}