{% extends 'registration/base_custom.html' %}

{% block title %}Admin - Tipo Documenti{% endblock %}

{% block nav %}
  <nav>
    <div class="nav-wrapper red lighten-1">
      <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
      <a href="{% url 'server'%}" class="breadcrumb hide-on-med-and-down">Admin</a>
      <a href="{% url 'doctype' %}" class="breadcrumb hide-on-med-and-down">Tipo Doc</a>
      <ul class="right">
          {% if user.is_staff %}
            <li><a onclick="send('hide')">Nascondi/mostra selezionati</a></li>
            <li><a onclick="send('delete')">Elimina selezionati</a></li>
            <li><a href="{% url 'server' %}">Pannello Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'personal' %}">{{ user.username }}</a></li>
          {% endif %}
          {% if user.username != "" %}
            <li>
            <a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i></a>
            </li>
          {% else %}
            <li><a href="{% url 'signup' %}">Registrazione</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<form id="selection" action="{% url 'doctype' %}" method="post">
{% csrf_token %}
<input type="hidden" name="action" id="action">
<ul class="collapsible">
    {% for doctype in docs %}
        <li>
        <div class="collapsible-header">
            <label>
              <input name={{doctype.0.id}} type="checkbox" class="filled-in"/>
              <span></span>
            </label>
            {% if not doctype.0.enabled %}
                <i class="material-icons">visibility_off</i>
            {% endif %}
            {% if not doctype.0.group_private %}
                <i class="material-icons">public</i>
            {% endif %}
            {{doctype.0.name}}
            <span class="new badge red lighten-1" data-badge-caption="">{{doctype.2}}</span></div>
        </div>
        <div class="collapsible-body"><span>
          {% if doctype.0.personal_data %}
            <i class="material-icons">person</i>
          {% endif %}
          {% if doctype.0.medical_data %}
            <i class="material-icons">healing</i>
          {% endif %}
          {% if doctype.0.custom_data %}
            <i class="material-icons">add_circle_outline</i>
          {% endif %}
          {% if doctype.0.custom_message %}
            <i class="material-icons">message</i>
          {% endif %}
          {% if doctype.0.custom_data %}
            <br>
            <ul class="collection">
            {% for key in doctype.1 %}
              <li class="collection-item">{{key.key}}</li>
            {% endfor %}
            </ul>
          {% endif %}
          {% if doctype.0.custom_message %}
            <br>
            {{doctype.0.custom_message_text}}
          {% endif %}
        </span></div>
        </li>
    {% endfor %}
</ul>
</form>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red lighten-1" href="{% url 'docedit'%}">
    <i class="large material-icons">add</i>
  </a>
</div>
{% endblock %}

{%block script%}
$(document).ready(function(){
    $('.collapsible').collapsible();
});

function send(id) {
  var form = document.getElementById('selection')
  var action = document.getElementById('action')
  action.setAttribute('value', id);
  form.submit()
}
{% endblock %}