{% extends 'registration/base.html' %}

{% block title %}Admin{% endblock %}

{% block nav %}
    <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
    <a href="#!" class="breadcrumb hide-on-med-and-down">Admin</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col l6 s12">
    <div class="card large">
      <div class="card-content">
        <p>
        <table>
            <tr>
                <th>Username</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Codice</th>
                <th>Stato</th>
            </tr>
            {% for user in users %}
                <tr>
                {% for att in user %}
                    <td>{{att}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table> 
        </p>
      </div>
      <div class="card-action">
          <a href="{% url 'ulist' %}">Lista utenti</a>
          <a href="{% url 'uapprove' %}">Approva utente</a>
      </div>
    </div>
  </div>
  <div class="col l6 s12">
    <div class="card large">
      <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
          <a href="{% url 'doctype' %}">Lista tipo doc</a>
          <a href="{% url 'doclist' %}">Lista documenti</a>
          <a href="{% url 'uapprove' %}">Approva documento</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}