{% extends 'registration/base_admin.html' %}

{% block title %}Admin{% endblock %}

{% block breadcrumb %}
    <a href="#!" class="breadcrumb hide-on-med-and-down">Admin</a>
{% endblock %}

{% block content %}
{% load app_filter %}
<div class="row">
  <div class="col l5 s12">
    <div class="card large">
      <div class="card-content" style="overflow: auto">
        <form id="form" action="{% url 'server'%}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col s12">
              <p>
                Documenti di questo gruppo saranno visibili a persone nel gruppo capi
              </p>
            </div>
          </div>
          {% for gr in groups %}
            <div class="row">
              <div class="col s12">
                <div id="select_switch" class="switch col s12">
                  {{gr.0}}<br class="hide-on-med-and-up">
                  <label>
                    No
                    <input name={{gr.0}} type="checkbox" {{gr.1}}>
                    <span class="lever"></span>
                    Si
                  </label>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="row">
            <div class="col s12">
              <a class="waves-effect waves-light btn {{color}}" onclick="form.submit()"><i class="material-icons left">check</i> Applica</a>
            </div>
          </div>
        </form>
      </div>
      {% if user.is_staff %}
      <div class="card-action">
        <div class="hide-on-med-and-down">
          <a class="waves-effect waves-light btn {{color}}" href="{% url 'ulist' %}">Utenti</a>
          <a class="waves-effect waves-light btn {{color}}" href="{% url 'ulist-table' %}">Utenti (Tabella BETA)</a>
          <a class="waves-effect waves-light btn {{color}}" href="{% url 'uapprove' %}">Trasferta utente</a>
          <a class="waves-effect waves-light btn {{color}}" href="{% url 'request' %}">Richiedi dati</a>
        </div>

        <div class="hide-on-large-only">
          <a class="col s12 waves-effect waves-light btn {{color}}" href="{% url 'ulist' %}">Utenti</a>
          <br>
          <br>
          <a class="col s12 waves-effect waves-light btn {{color}}" href="{% url 'uapprove' %}">Trasferta utente</a>
          <br>
          <br>
          <a class="col s12 waves-effect waves-light btn {{color}}" href="{% url 'request' %}">Richiedi dati</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col l7 s12">
    <div class="card large">
      <div class="card-content">
        <ul class="collection">
          {% for doctype in docs %}
            <li class="collection-item">
                {% if not doctype.enabled %}
                    <i class="material-icons left">visibility_off</i>
                {% endif %}
                {% if not doctype.group_private %}
                    <i class="material-icons left">public</i>
                {% endif %}
                {% if doctype.auto_sign %}
                  <i class="material-icons left">assignment_turned_in</i>
                {% endif %}
                {{doctype.name}}
                <span class="new badge {{color}}" data-badge-caption="">{{doctype|doc_count}}</span>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <div class="hide-on-med-and-down">
          <a class="waves-effect waves-light btn {{color}}" href="{% url 'doctype' %}">Documenti</a>
          <a class="waves-effect waves-light btn {{color}}" href="{% url 'docapprove' %}">Approva documento</a>
        </div>

        <div class="hide-on-large-only">
          <a class="col s12 waves-effect waves-light btn {{color}}" href="{% url 'doctype' %}">Documenti</a>
          <br>
          <br>
          <a class="col s12 waves-effect waves-light btn {{color}}" href="{% url 'docupload' %}">Carica firma</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}