{% extends 'registration/base.html' %}

{% block title %}Admin{% endblock %}

{% block nav %}
    <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
    <a href="#!" class="breadcrumb hide-on-med-and-down">Admin</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col l6 s12">
    <div class="card large">
      <div class="card-content">
        <p>
        <table>
            <tr>
                <th>Username</th>
                <th>Nome</th>
                <th>Cognome</th>
            </tr>
            {% for user in users %}
                <tr>
                {% for att in user %}
                    <td>{{att}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table> 
        </p>
      </div>
      <div class="card-action">
          <a class="waves-effect waves-light btn red lighten-1" href="{% url 'ulist' %}">Lista utenti</a>
          <a class="waves-effect waves-light btn red lighten-1" href="{% url 'uapprove' %}">Approva utente</a>
      </div>
    </div>
  </div>
  <div class="col l6 s12">
    <div class="card large">
      <div class="card-content">
        <ul class="collection">
          {% for doctype in docs %}
            <li class="collection-item">
                {% if not doctype.0.enabled %}
                    <i class="material-icons left">visibility_off</i>
                {% endif %}
                {% if not doctype.0.group_private %}
                    <i class="material-icons left">public</i>
                {% endif %}
                {% if doctype.0.auto_sign %}
                  <i class="material-icons left">assignment_turned_in</i>
                {% endif %}
                {{doctype.0.name}}
                <span class="new badge red lighten-1" data-badge-caption="">{{doctype.1}}</span>
          {% endfor %}
        </ul>
      </div>
      <div class="card-action">
        <div class="hide-on-small-only">
          <a class="waves-effect waves-light btn red lighten-1" href="{% url 'doctype' %}">Lista tipo doc</a>
          <a class="waves-effect waves-light btn red lighten-1" href="{% url 'doclist' %}">Lista documenti</a>
          <a class="waves-effect waves-light btn red lighten-1" href="{% url 'docapprove' %}">Approva documento</a>
        </div>

        <div class="hide-on-med-and-up">
          <a class="col s12 waves-effect waves-light btn red lighten-1" href="{% url 'doctype' %}">Lista tipo doc</a>
          <br>
          <br>
          <a class="col s12 waves-effect waves-light btn red lighten-1" href="{% url 'doclist' %}">Lista documenti</a>
          <br>
          <br>
          <a class="col s12 waves-effect waves-light btn red lighten-1" href="{% url 'docapprove' %}">Approva documento</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}