{% extends 'registration/base_custom.html' %}

{% block title %}Admin - Lista Utenti{% endblock %}

{% block nav %}
  <nav class="nav-extended">
    <div class="nav-wrapper red lighten-1">
      <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
      <a href="{% url 'server'%}" class="breadcrumb hide-on-med-and-down">Admin</a>
      <a href="#!" class="breadcrumb hide-on-med-and-down">Lista Utenti</a>
      <ul class="right">
          {% if user.is_staff or perms.client.staff %}
            <li><a href="{% url 'server' %}">Pannello Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href="{% url 'personal' %}">{{ user.username }}</a></li>
          {% endif %}
          {% if user.username != "" %}
            <li>
            <a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i></a>
            </li>
          {% else %}
            <li><a href="{% url 'signup' %}">Registrazione</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
      </ul>
    </div>
    <div class="nav-wrapper red lighten-1">
      <form>
        <div class="input-field">
          <input autocomplete="off" id="search" type="search" onkeyup="filterResults()" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
  </nav>
{% endblock %}

{% block content %}
<form id="form" action="{% url 'ulist' %}" method="post">
{% csrf_token %}
<input type="hidden" name="action" id="action">
<ul class="collapsible">
  {% for user in users %}
    <li>
      <div class="collapsible-header list">
        {% if user.0.is_staff %}
          <i class="material-icons">star</i>
        {% elif user.6 %}
          <i class="material-icons">star_border</i>
        {% endif %}
        {{user.0.first_name}} {{user.0.last_name}}
      </div>
      <div class="collapsible-body"><span>
        {% if not user.0.is_staff %}
        <div id="modal{{user.0.id}}" class="modal">
          <div class="modal-content">
            <h4>Attenzione</h4>
            <p>
              Sei sicuro di volerlere deapprovare l'utente {{user.0.first_name}} {{user.0.last_name}}?<br>
              Una volta deapprovato l'utente non potrà più creare documenti e per essere riapprovato dovrà essere usato il codice di approvazione.
            </p>
          </div>
          <div class="modal-footer">
            <a style="color:red" href="#!" class="modal-close waves-effect waves-green btn-flat">Annulla</a>
            <a onclick="send('d{{user.0.id}}')" class="modal-close waves-effect waves-green btn-flat">Deapprova</a>
          </div>
        </div>
        <div class="hide-on-med-and-down">
          <a class="waves-effect waves-light btn red lighten-1 modal-trigger" href="#modal{{user.0.id}}"><i class="material-icons left">remove_circle_outline</i>Deapprova utente</a>
          <a class="waves-effect waves-light btn red lighten-1" onclick="send('c{{user.0.id}}')"><i class="material-icons left">star_border</i>Capo/non</a>
        </div>
        <div style="margin-bottom: 0px;" class="hide-on-large-only row">
          <a class="col s12 waves-effect waves-light btn red lighten-1 modal-trigger" href="#modal{{user.0.id}}"><i class="material-icons left">remove_circle_outline</i>Deapprova utente</a>
          <br>
          <br>
          <a class="col s12 waves-effect waves-light btn red lighten-1" onclick="send('c{{user.0.id}}')"><i class="material-icons left">star_border</i>Capo/non</a>
        </div>
        <br><br>
        {% endif %}
        <ul class="collection">
          <li class="collection-item">
            <i class="material-icons left">confirmation_number</i>U{{user.1.code}}
          </li>
        </ul>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">
              <i class="material-icons">person</i>Dati personali
            </div>
            <div class="collapsible-body"><span>
              <div class="row">
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.0.first_name}}" id="first_name" type="text" >
                  <label for="first_name">Nome</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.0.last_name}}" id="last_name" type="text" >
                  <label for="last_name">Cognome</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.born_date}}" id="birth_date" type="text">
                  <label for="birth_date">Data di nascita</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.2}}" id="branca" type="text">
                  <label for="branca">Branca</label>
                </div>
                <div class="input-field col l8 s12">
                  <input disabled value="{{user.1.parent_name}}" id="parent_name" type="text" >
                  <label for="parent_name">Nome dei genitori</label>
                </div>
                <div class="input-field col l12 s12">
                  <input value="{{user.1.via}}" disabled id="via" type="text" >
                  <label for="via">Via e numero</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.cap}}" name="cap" id="cap" type="text" >
                  <label for="cap">CAP</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.country}}" name="country" id="country" type="text" >
                  <label for="country">Paese</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.nationality}}" name="nationality" id="nationality" type="text" >
                  <label for="nationality">Nazionalit&agrave;</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.phone}}" name="phone" id="phone" type="text" >
                  <label for="phone">Cellulare</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.home_phone}}" name="home_phone" id="home_phone" type="text" >
                  <label for="home_phone">Telefono di casa</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.email}}" name="email" id="email" type="text" >
                  <label for="email">Email</label>
                </div>
                <div class="input-field col l8 s12">
                  <input disabled value="{{user.1.school}}" name="school" id="school" type="text" >
                  <label for="school">Scuola frequentata</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.year}}" name="year" id="year" type="text" >
                  <label for="year">Classe</label>
                </div>
              </div>
            </span></div>
          </li>
          <li>
            <div class="collapsible-header">
              <i class="material-icons">healing</i>Dati medici
            </div>
            <div class="collapsible-body"><span>
              <div class="row">
                <div class="col s12">
                  <h6>Persona di contatto in caso di necessit&agrave;</h6>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l6 s12">
                  <input disabled name="emer_name" value="{{user.1.medic.emer_name}}" id="emer_name" type="text" >
                  <label for="emer_name">Nome e cognome</label>
                </div>
                <div class="input-field col l3 s12">
                  <input disabled name="emer_relative" value="{{user.1.medic.emer_relative}}" id="emer_relative" type="text" >
                  <label for="emer_releative">Parentela</label>
                </div>
                <div class="input-field col l3 s12">
                  <input disabled name="cell_phone" value="{{user.1.medic.cell_phone}}" id="cellphone" type="text" >
                  <label for="cell_phone">Cellulare</label>
                </div>
                <div class="input-field col l9 s12">
                  <input disabled value="{{user.1.medic.address}}" name="address" id="address" type="text" >
                  <label for="address">Indirizzo completo</label>
                </div>
                <div class="input-field col l3 s12">
                  <input disabled value="{{user.1.medic.emer_phone}}" name="emer_phone" id="emer_phone" type="text" >
                  <label for="emer_phone">Telefono di casa</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h6>Assicurazione</h6>
                </div>
              </div>
              <div class="row">
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.medic.health_care}}" name="health_care" id="health_care" type="text" >
                  <label for="health_care">Cassa Malati</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.medic.injuries}}" name="injuries" id="injuries" type="text" >
                  <label for="injuries">Infortuni</label>
                </div>
                <div class="input-field col l4 s12">
                  <input disabled value="{{user.1.medic.rc}}" name="rc" id="rc" type="text" >
                  <label for="rc">Responsabilit&agrave; civile</label>
                </div>
              </div>
              <div class="row">
                <div class="switch col s12">
                  &Egrave; sostenitore REGA&nbsp;&nbsp;
                  <label>
                    No
                    <input disabled name="rega" type="checkbox" {% if user.1.medic.rega %}checked="checked"{%endif%}>
                    <span class="lever"></span>
                    Si
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h6>Medico di famiglia</h6>
                </div>
                <div class="input-field col l6 s12">
                  <input disabled value="{{user.1.medic.medic_name}}" name="medic_name" id="medic_name" type="text" >
                  <label for="medic_name">Nome e cognome</label>
                </div>
                <div class="input-field col l6 s12">
                  <input disabled value="{{user.1.medic.medic_phone}}" name="medic_phone" id="medic_phone" type="text" >
                  <label for="medic_phone">Telefono studio</label>
                </div>
                <div class="input-field col l12 s12">
                  <input disabled value="{{user.1.medic.medic_address}}" name="medic_address" id="medic_address" type="text" >
                  <label for="medic_address">Indirizzo completo</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <h6>Scheda medica personale</h6>
                </div>
                <div class="input-field col s12">
                  <input disabled value="{{user.1.medic.sickness}}" name="sickness" id="sickness" type="text">
                  <label for="sickness">Principali malattie avute</label>
                </div>
                <div class="input-field col l8 s12">
                  <input disabled value="{{user.1.medic.vaccine}}" name="vaccine" id="vaccine" type="text">
                  <label for="vaccine">Vacinazioni fatte</label>
                </div>
                <div class="input-field col l4 s12">
                  <label for="tetanus_date">Ultima vacinazione contro il tetano</label>
                  <input disabled value="{{user.1.medic.tetanus_date}}" name="tetanus_date" id="tetanus_date" type="text">
                </div>
                <div class="input-field col s12">
                  <input disabled value="{{user.1.medic.allergy}}" name="allergy" id="allergy" type="text">
                  <label for="allergy">Allergie particolari/Intolleraze alimentari</label>
                </div>
                <div class="switch col s12">
                  Deve assumere regolarmente medicamenti&nbsp;&nbsp;
                  <label>
                    No
                    <input disabled name="drugs_bool" type="checkbox" {% if user.1.medic.drugs_bool %}checked="checked"{%endif%}>
                    <span class="lever"></span>
                    Si
                  </label>
                </div>
                <div class="input-field col s12">
                  <input disabled value="{{user.1.medic.drugs}}" name="drugs" id="drugs" type="text">
                  <label for="drugs">Se s&igrave; quali, in che dosi e prescrizioni</label>
                </div>
                <div class="switch col s12">
                  Informazioni particolari sullo stato di salute: (postumi di operazioni, incidenti, malattie, disturbi fisici)&nbsp;&nbsp;
                  <label>
                    No
                    <input disabled name="misc_bool" type="checkbox" {% if user.1.medic.misc_bool %}checked="checked"{%endif%}>
                    <span class="lever"></span>
                    Si
                  </label>
                </div>
                <div class="input-field col s12">
                  <input disabled value="{{user.1.medic.misc}}" name="misc" id="misc" type="text">
                  <label for="misc">Se s&igrave; quali</label>
                </div>
            </span></div>
          </li>
          <li>
            <div class="collapsible-header">
              <i class="material-icons">attach_file</i>Allegati
            </div>
            <div class="collapsible-body"><span>
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-image">
                      {% if user.4 %}<img src="data:;base64,{{ user.4 }}">{% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-image">
                      {% if user.5 %}<img src="data:;base64,{{ user.5 }}">{% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </span></div>
          </li>
          <li>
            <div class="collapsible-header">
              <i class="material-icons">assignment</i>Documenti
            </div>
            <div class="collapsible-body"><span>
              <ul class="collapsible">
                {% for doc in user.3 %}
                <li>
                  <div class="collapsible-header"><a onclick="send('f{{doc.id}}')">{{doc.document_type.name}}</a></div>
                </li>
                {% endfor %}
              </ul>
            </span></div>
          </li>
        </ul>
      </span></div>
    </li>
  {% endfor %}
</ul>
</form>
{% endblock %}

{% block script %}
$(document).ready(function(){
    $('.modal').modal();
    $('.collapsible').collapsible();
});

function send(id) {
  var form = document.getElementById('form')
  var action = document.getElementById('action')

  action.setAttribute('value', id);
  form.submit()
}

function filterResults() {
  var search = document.getElementById('search')
  var filter = search.value.toUpperCase()
  var items = document.getElementsByClassName('list')


  for (i = 0; i < items.length; i++) {
    var a = items[i];
    var txtValue = a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      items[i].style.display = "";
    } else {
      items[i].style.display = "none";
    }
  }
}
{% endblock %}