<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'materialize.min.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <title>{% block title %}Scout Brega{% endblock %}</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper teal">
      {% block nav %}
      {% endblock %}
      <ul class="right">
          {% if user.is_staff %}
            <li><a href="{% url 'server' %}">Pannello Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a class="tooltipped" data-position="bottom" data-tooltip="Preferenze" href="{% url 'personal' %}">{{ user.username }}</a></li>
          {% endif %}
          {% if user.username != "" %}
            <li>
            <a class="tooltipped" data-position="bottom" data-tooltip="Logout" href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i></a>
            </li>
          {% else %}
            <li><a href="{% url 'signup' %}">Registrazione</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
      </ul>
    </div>
  </nav>
  <main style="margin-left: 10px;margin-right: 10px;margin-top: 10px;">
    {% block content %}
    {% endblock %}
  </main>
  <script type="text/javascript" src="{% static 'jquery-3.5.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'materialize.min.js' %}"></script>
  <script>
  {% block script %}
  {% endblock%}
  </script>
</body>
</html>