<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'material_icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'materialize.min.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
  <title>{% block title %}Scout Brega{% endblock %}</title>
</head>
<body>
  <main style="margin-left: 10px;margin-right: 10px;margin-top: 10px;">
    {% block content %}
    {% endblock %}
  </main>
  <script type="text/javascript" src="{% static 'materialize.min.js' %}"></script>
  <script type="text/javascript">
  {% block script %}
  {% endblock %}
  </script>
</body>
</html>