{% extends 'registration/base_simple.html' %}

{% block content %}
  <div class="row">
    <div class="col l4 offset-l4 m8 offset-m2 s12">
      <div class="card">
        <div class="card-content">
          <h5>Reimposta password</h5>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn waves-effect waves-light {{color}}" type="submit">Invia</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}