{% extends 'registration/base_simple.html' %}

{% block content %}
  <div class="row">
    <div class="col l4 offset-l4 m8 offset-m2 s12">
      <div class="card">
        <div class="card-content">
          {% if validlink %}
            <h5>Cambia password</h5>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <br>
              <button class="btn waves-effect waves-light {{color}}" type="submit">Invia</button>
            </form>
          {% else %}
            <p>
              Il link di reimpostazione della password è invalido, probabilmente perchè è già stato usato.
              Prego richiedere un altro link.
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}