{% extends 'registration/base_simple.html' %}

{% block content %}
  <div class="row">
    <div class="col l4 offset-l4 m8 offset-m2 s12">
      <div class="card">
        <div class="card-content">
          <p>
            Ti abbiamo inviato una email con le istruzioni per reimpostare la password, se l'account inserito
            esiste. Dovresti riceverle a breve.
          </p>
          <p>
            Se non hai ricevuto la email controlla che l'indirizzo inserito sia corretto e controlla la cartella
            di spam.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}