<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title></title>
</head>
<body>
  <main style="margin-left: 10px;margin-right: 10px;margin-top: 10px;">
    <br><br><br><br>
    <br><br><br><br>
    <div class="row">
      <h2 class="center">{{doc.code}}</h2>
    </div>
    <div class="row">
      <h4 class="center">{{doc.document_type.name}}</h4>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <p>Con la presente firma approvo il documento con codice {{doc.code}} accettando
        tutte le clausole apposte su di esso.
        Inoltre comprovo come veritieri e completi tutti i dati apposti sul documento.
        </p>
      </div>
    </div>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <div class="row">
      <div class="col s4 offset-s1">
        <div class="input-field">
          <input type="text">
          <span class="helper-text">Data e luogo</span>
        </div>
      </div>
      <div class="col s4 offset-s2">
        <div class="input-field">
          <input type="text">
          <span class="helper-text">Firma</span>
        </div>
      </div>
    </div>
  </main>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>