{% extends 'registration/base_simple.html' %}

{% block title %}Iscriviti{% endblock %}

{% block content %}
  <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
      <div class="card">
        <div class="card-content">
          <h2>Iscriviti</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>La password deve essere di almeno 8 caretteri e contenere lettere</p>
            <br>
            <label>
              <input name="terms_accept" type="checkbox" class="filled-in"/>
              <span style="color:black">Accetto i <a href="{% url 'terms' %}">Termini e condizioni generali</a></span>
            </label>
            <br>
            <br>
            <button class="btn waves-effect waves-light {{color}}" type="submit">Invia</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
document.addEventListener('DOMContentLoaded', function() {
{% for error in errors %}
  M.toast({html: '{{ error }}', classes: 'orange'})
{% endfor %}
});
{% endblock %}