{% extends 'registration/base_client.html' %}

{% block title %}Termini e condizioni{% endblock %}

{%block breadcrumb %}
  <a class="breadcrumb hide-on-med-and-down">Termini e condizioni</a>
{% endblock%}

{% block content %}
  <div class="row">
    <div class="col l4 offset-l4 m8 offset-m2 s12">
      <div class="card">
        <div class="card-content">
          <h5>Termini e condizioni</h5>
          <h6>Trattamento dei dati</h6>
          <blockquote>
            Tutti i dati inseriti verranno trattati in maniera confidenziale
            e condivisi con i responsabili della sezione scout. I quali
            li useranno per scopi organizzativi e non li condivideranno con terze parti.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
{% endblock %}