{% extends 'registration/base_client.html' %}

{% block title %}Termini e condizioni{% endblock %}

{%block breadcrumb %}
  <a class="breadcrumb hide-on-med-and-down">Termini e condizioni</a>
{% endblock%}

{% block content %}
  <div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
      <div class="card">
        <div class="card-content">
          <h5>Termini e condizioni</h5>
          I seguenti termini possono essere modificati in qualsiasi momento e senza preavviso.
          <h6>Nomenclatura</h6>
          <blockquote>
            Con "partecipante" o "intestatario" si intende la persona di cui i
            dati sono indicati all'interno del profilo. Con "utente" si intende
            la persona che fa il login sul sito e che possiede i credenziali per
            fare l'accesso.
          </blockquote>
          <h6>Controllo dell'account</h6>
          <blockquote>
            In caso l'intestatario sia minorenne unicamente l'autorità parentale
            deve essere l'utente. Nello specifico questo vuol dire che in caso
            l'intestatario sia minorenne quest'ultimo non può essere l'utente.
            In caso l'intestatario sia maggiorenne solamente l'intestatario può
            essere l'utente. <br>
            L'utente è responsabile della sicurezza dei propri dati d'accesso.
            Viene declinata ogni responsabilità in caso di gestione non sicura
            dei dati d'accesso e dei dispositivi dell'utente. I dati d'accesso
            devono essere in possesso unicamente all'utente e non possono essere
            ceduti a terzi.
          </blockquote>
          <h6>Trattamento dei dati</h6>
          <blockquote>
            I dati vengono trattati in conformità con la normativa sulla privacy
            del Movimento Scout Svizzero (MSS) <a href="https://dse-it.scouts.ch/">https://dse-it.scouts.ch/</a>. In
            particolare i dati possono essere condivisi all'interno di altre
            associazioni scout (Scoutismo Ticino, MSS e eventuali altre) in caso
            di necessità. Inoltre i dati possono essere condivisi con l'Ufficio
            federale dello sport, l'Ufficio federale delle assicurazioni sociali
            o la REGA in relazione a campi, corsi di formazione o altri eventi
            sussidiati da Gioventù e Sport.<br>
            Sono esenti alla sopracitata modalità i dati medici. Questi ultimi
            sono trattati in maniera confidenziale e condivisi solamente con i
            responsabili della sezione scout (Scout Breganzona). I quali li
            useranno unicamente per scopi organizzativi e per eventuali
            interventi medici d'urgenza.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
{% endblock %}