{% extends 'registration/base_client.html' %}

{% block title %}About{% endblock %}

{%block nav%}
  <a style="margin-left: 10px;" href="{% url 'index' %}" class="breadcrumb">Home</a>
  <a href="!#" class="breadcrumb hide-on-med-and-down">Termini e condizioni</a>
{% endblock%}

{% block content %}
  <div class="row">
    <div class="col l4 offset-l4 m8 offset-m2 s12">
      <div class="card">
        <div class="card-content">
          <h5>Termini e condizioni</h5>
          <blockquote>
            Creando un account accetti e comprendi i seguenti termini: <br>
            Tutti i dati inseriti all'interno del sistema verranno condivisi con la persona a capo del gruppo di cui fai parte.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
{% endblock %}